<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ResuGen</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">ResuGen</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <%= if Coherence.logged_in?(@conn) do %>
            <li class="nav-item"><%= link "Resume", to: pdf_path(@conn, :export) , class: "nav-link" %></li>
            <li class="nav-item"><%= link "Elm Test", to: pdf_path(@conn, :new) , class: "nav-link" %></li>
            <li class="nav-item"><%= link "Show", to: registration_path(@conn, :show) , class: "nav-link" %></li>
            <li class="nav-item"><%= link "Edit", to: registration_path(@conn, :edit) , class: "nav-link" %></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Add</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link "Skill", to: skill_path(@conn, :new), class: "nav-link" %>
                <%= link "Experience", to: experience_path(@conn, :new), class: "nav-link" %>
                <%= link "Education", to: education_path(@conn, :new), class: "nav-link" %>
                <%= link "Award", to: award_path(@conn, :new), class: "nav-link" %>
                <%= link "Reference", to: reference_path(@conn, :new), class: "nav-link" %>
              </div>
            </li>
            <li class="navbar-form">
              <%= link "Sign Out", to: session_path(@conn, :delete), method: :delete, class: "btn btn-danger" %>
            </li>
          <% else %>
            <li class="nav-item"><%= link "Sign In", to: session_path(@conn, :new) , class: "nav-link" %></li>
            <li class="nav-item"><%= link "Register", to: registration_path(@conn, :new), class: "nav-link" %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <main role="main"><%= render @view_module, @view_template, assigns %></main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
