$icon-font-path: "/fonts/"; /* use fonts from priv/static/fonts/ */

body {
  text-align: center;

  h1 {
    font-size: 44px;
    margin-bottom: 10px;
    font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
  }

  p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  @media (min-width: 768px) {
    p {
      font-size: 26px;
      margin: 0 0 35px;
      line-height: 1.6;
    }


    h1 {
      font-size: 100px;
    }
  }

  .card {
    width: 20rem;
    display: inline-block;

    p {
      font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #292b2c;
    }
  }
}
