<h2>Edit education</h2>

<%= render "form.html", changeset: @changeset,
                        action: education_path(@conn, :update, @education) %>

<%= link "Back", to: registration_path(@conn, :show) %>
