<h2>New resume</h2>

<%= render "form.html", changeset: @changeset,
                        resume: @resume,
                        action: resume_path(@conn, :create),
                        user: @user %>

<%= link "Back", to: resume_path(@conn, :index) %>
