<div class="row justify-content-center">
  <div class="col-6">
    <h1>ResuGen</h1>
    <p>Hi I'm Nick. This app keeps track of all my resume worthy skills to easily generate resumes. Sign up to do the same!</p>
  </div>
</div>
