<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <h1>ResuGen</h1>
    <p>Hi I'm Nick. I needed to tailor resumes to each job, but I often forget skills if I do not include them on a recent resume, so I made this to generate custom resumes on the fly.  Submit your email to recieve an invitation to do the same!</p>
  </div>
</div>
